= form_with(model: @competence, local: true) do |form|
  - if @competence.errors.any?
    - @competence.errors.full_messages.each do |message|
      .alert.alert-danger= message
  = form.label :title, "Заголовок"
  = form.text_field :title
  %br
  = form.label :description, "Описание"
  = form.text_area :description
  %br
  = form.submit