= form_with(model: @competence, local: true) do |form|
  - if @competence.errors.any?
    - @competence.errors.full_messages.each do |message|
      .alert.alert-danger= message
  .form-group
    = form.label :title, "Заголовок"
    = form.text_field :title, class: 'form-control'
  .form-group
    = form.label :description, "Описание"
    = form.text_area :description, class: 'form-control'
    = form.fields_for :terms do |term_form|
      = term_form.text_field :title, placeholder: 'title'
  %br
  = form.submit nil, class: 'btn btn-success'