%table.table.table-hover.table-striped
  %thead
    %tr
      %td №
      %td Название
      %td Действия
  %tbody
    = link_to 'Создать', new_competence_path, class: 'btn btn-info'
    - @competences.each do |competence|
      %tr
        %td= competence.id
        %td= link_to competence.title, competence_path(competence)
        %td
          = link_to '', edit_competence_path(competence), class: 'glyphicon glyphicon-edit'
          = link_to '', competence_path(competence), method: :delete, class: 'glyphicon glyphicon-trash', data: { confirm: 'Вы уверены?' }